*{ margin: 0; padding: 0;}

body {
    background-image: linear-gradient(45deg, purple, yellow);  
    text-align: center;
}

.fundo {
 height: 100%;
 color: #f3f3f3;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.calculadora {
 position: absolute;
 background: rgba(126, 126, 126, 0.73); 
 top: 25%;
 left: 40%;
 translate: -50%, -50%;
 border-radius: 15px;
 padding: 15px;
}

.botao {
 width: 50px;
 height: 50px;
 font-size: 25px;
 margin: 3px;
 cursor: pointer;    
 background:white;
 border: none;
 color:black;
}

.botao:hover {
 background-color: #e7e7e7;   
}

#resultado {
 width: 214px;
 background: white;
 height: 30px;
 margin: 5px;
 padding: 5px;
 color: black;
 padding: 5px;   
 text-align: right;
 font-size: 25px;
}
